Repository mitre/tir-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, example, repository, user, beginner, advanced, guidance, courses

trying to fix git push
  .github/workflows/auto-approve-and-merge.yml
Labels: none

adding automerge
  .github/workflows/auto-approve-and-merge.yml
Labels: none

Two images were removed by accident. Adding those images back in.
  src/assets/user-guide/image58.jpeg
  src/assets/user-guide/image60.jpeg
Labels: none

Added Lockheed Martin copyright statement.
  src/.vuepress/theme.ts
Labels: none

Removed deployment guide.backup file.
  src/tir_deployment_guide.md.backup
Labels: none

updated to latest theme and added missing dev dep
  package-lock.json
  package.json
Labels: none

Update Markdown files to use artifact actions v4
  src/courses/advanced/09.md
  src/courses/advanced/10.md
  src/courses/advanced/11.md
  src/courses/advanced/Appendix D - Example Pipeline for Validating an InSpec Profile.md
Labels: advanced, courses

Update node-version from 18 to 22
  .github/workflows/cypress.yml
Labels: none

Revert "Update node-version from 18 to 22"
  .github/workflows/cypress.yml
Labels: none

Update vuepress release-candidate-versioned packages
  package-lock.json
  package.json
Labels: none

Update @vuepress/client to same versions as vuepress, @vuepress/bundler-vite, @vuepress/bundler-webpack
  package-lock.json
  package.json
Labels: none

Add @vuepress/plugin-revealjs
  package-lock.json
  package.json
Labels: none

Revert "Add @vuepress/plugin-revealjs"
  package-lock.json
  package.json
Labels: none

Revert "Update @vuepress/client to same versions as vuepress, @vuepress/bundler-vite, @vuepress/bundler-webpack"
  package-lock.json
  package.json
Labels: none

Revert "Update vuepress release-candidate-versioned packages"
  package-lock.json
  package.json
Labels: none

Add flag required in v4 for overwriting existing artifact, which otherwise didn't exist in v3 but behavior has
  src/courses/advanced/09.md
  src/courses/advanced/10.md
  src/courses/advanced/11.md
  src/courses/advanced/Appendix D - Example Pipeline for Validating an InSpec Profile.md
Labels: advanced, courses

Remove overwrite: true flag
  src/courses/advanced/09.md
  src/courses/advanced/10.md
  src/courses/advanced/11.md
  src/courses/advanced/Appendix D - Example Pipeline for Validating an InSpec Profile.md
Labels: advanced, courses

Added the Lockheed Martin license statement to LICENSE.md
  CreateCompany.png
  LICENSE.md
Labels: none

updated imports, removed unneeded plugins, fixed conflicting lockfile
  package-lock.json
  package.json
Labels: none

other stuff
  src/courses/tir_admin_guide/03.md
  src/tir_admin_guide.md
Labels: courses

updated deps
  package-lock.json
  package.json
Labels: none

Updated LICENSE.md to include LM license statement. Updates to README.md to add TIR specific guidance.
  LICENSE.md
  package-lock.json
  src/README.md
  src/assets/img/tir.svg
Labels: none

Added the TIR logo to the homepage.
  src/README.md
Labels: none

Minor formatting to the LICENSE.md
  LICENSE.md
Labels: none

Split the User Guide into Courses
  src/courses/tir_user_guide/02.md
  src/courses/tir_user_guide/02_Purpose.md
  src/courses/tir_user_guide/03_GettingStarted.md
  src/courses/tir_user_guide/04_Interfaces.md
  src/courses/tir_user_guide/05_CreatingYourWorkEnvironment.md
  src/courses/tir_user_guide/06_ImportingScanData.md
  src/courses/tir_user_guide/07_DeltaSTIGs.md
  src/courses/tir_user_guide/08_ChangingCompanyAndBoundaryPermissions.md
  src/courses/tir_user_guide/09_BoundaryView.md
  src/courses/tir_user_guide/10_SystemView.md
  src/courses/tir_user_guide/11_VulnerabilityView.md
  src/courses/tir_user_guide/12_SystemStatusesAndSeveritiesWithOverrides.md
  src/courses/tir_user_guide/13_Exports.md
  src/courses/tir_user_guide/14_POA&MManagement.md
  src/courses/tir_user_guide/15_BackupAndRestore.md
  src/courses/tir_user_guide/README.md
Labels: courses

Updated image format for all of the images in the User Guide.
  TO-DO.md
  src/README.md
  src/courses/tir_user_guide/04_Interfaces.md
  src/courses/tir_user_guide/05_CreatingYourWorkEnvironment.md
  src/courses/tir_user_guide/06_ImportingScanData.md
  src/courses/tir_user_guide/07_DeltaSTIGs.md
  src/courses/tir_user_guide/08_ChangingCompanyAndBoundaryPermissions.md
  src/courses/tir_user_guide/09_BoundaryView.md
  src/courses/tir_user_guide/10_SystemView.md
  src/courses/tir_user_guide/11_VulnerabilityView.md
  src/courses/tir_user_guide/12_SystemStatusesAndSeveritiesWithOverrides.md
  src/courses/tir_user_guide/13_Exports.md
  src/courses/tir_user_guide/14_POA&MManagement.md
  src/courses/tir_user_guide/15_BackupAndRestore.md
  src/courses/tir_user_guide/README.md
Labels: courses

Added markdown image plugin. Fixed the resizing on Figure 15.
  TO-DO.md
  package-lock.json
  package.json
  src/.vuepress/theme.ts
  src/courses/tir_user_guide/05_CreatingYourWorkEnvironment.md
Labels: courses

Split the Admin Guide and Deployment Guide into courses. Fixed all of the images inside the Admin Guide and Deployment Guide.
  TO-DO.md
  src/courses/tir_admin_guide/01_Purpose.md
  src/courses/tir_admin_guide/02.md
  src/courses/tir_admin_guide/02_AccountPermissions.md
  src/courses/tir_admin_guide/03.md
  src/courses/tir_admin_guide/03_Configuration.md
  src/courses/tir_admin_guide/README.md
  src/courses/tir_deployment_guide/01_Purpose.md
  src/courses/tir_deployment_guide/02.md
  src/courses/tir_deployment_guide/02_DockerComposeDeployment.md
  src/courses/tir_deployment_guide/03_CertificateImportAndVerification.md
  src/courses/tir_deployment_guide/README.md
  src/courses/tir_user_guide/01_References.md
  src/courses/tir_user_guide/02_Purpose.md
  src/courses/tir_user_guide/03_GettingStarted.md
  src/courses/tir_user_guide/04_Interfaces.md
  src/courses/tir_user_guide/05_CreatingYourWorkEnvironment.md
  src/courses/tir_user_guide/06_ImportingScanData.md
  src/courses/tir_user_guide/07_DeltaSTIGs.md
  src/courses/tir_user_guide/08_ChangingCompanyAndBoundaryPermissions.md
  src/courses/tir_user_guide/09_BoundaryView.md
  src/courses/tir_user_guide/10_SystemView.md
  src/courses/tir_user_guide/11_VulnerabilityView.md
  src/courses/tir_user_guide/12_SystemStatusesAndSeveritiesWithOverrides.md
  src/courses/tir_user_guide/13_Exports.md
  src/courses/tir_user_guide/14_POA&MManagement.md
  src/courses/tir_user_guide/15_BackupAndRestore.md
  src/courses/tir_user_guide/README.md
Labels: courses

Updated all links in the navbar and sidebar to point to the courses for each guide. Added content to the README.md for each guide (landing pages).
  src/.vuepress/navbar.ts
  src/courses/tir_admin_guide/01_Purpose.md
  src/courses/tir_admin_guide/02_AccountPermissions.md
  src/courses/tir_admin_guide/03_Configuration.md
  src/courses/tir_admin_guide/README.md
  src/courses/tir_deployment_guide/01_Purpose.md
  src/courses/tir_deployment_guide/02_DockerComposeDeployment.md
  src/courses/tir_deployment_guide/03_CertificateImportAndVerification.md
  src/courses/tir_deployment_guide/README.md
  src/courses/tir_user_guide/02_Purpose.md
  src/courses/tir_user_guide/02_References.md
  src/courses/tir_user_guide/03_GettingStarted.md
  src/courses/tir_user_guide/04_Interfaces.md
  src/courses/tir_user_guide/05_CreatingYourWorkEnvironment.md
  src/courses/tir_user_guide/06_ImportingScanData.md
  src/courses/tir_user_guide/07_DeltaSTIGs.md
  src/courses/tir_user_guide/08_ChangingCompanyAndBoundaryPermissions.md
  src/courses/tir_user_guide/09_BoundaryView.md
  src/courses/tir_user_guide/10_SystemView.md
  src/courses/tir_user_guide/11_VulnerabilityView.md
  src/courses/tir_user_guide/12_SystemStatusesAndSeveritiesWithOverrides.md
  src/courses/tir_user_guide/13_Exports.md
  src/courses/tir_user_guide/14_POA&MManagement.md
  src/courses/tir_user_guide/15_BackupAndRestore.md
  src/courses/tir_user_guide/README.md
Labels: courses

Updated the TO-DO list.
  TO-DO.md
Labels: none

Added an item to the TO-DO list
  TO-DO.md
Labels: none

start of theme upgrade
  package-lock.json
  package.json
  src/.vuepress/theme.ts
Labels: none

playing with paths
  TO-DO.md
  src/courses/tir_admin_guide/02_AccountPermissions.md
  src/courses/tir_admin_guide/03_Configuration.md
  src/courses/tir_user_guide/03_GettingStarted.md
  src/courses/tir_user_guide/04_Interfaces.md
  src/courses/tir_user_guide/05_CreatingYourWorkEnvironment.md
  src/courses/tir_user_guide/06_ImportingScanData.md
  src/courses/tir_user_guide/07_DeltaSTIGs.md
  src/courses/tir_user_guide/08_ChangingCompanyAndBoundaryPermissions.md
  src/courses/tir_user_guide/09_BoundaryView.md
  src/courses/tir_user_guide/10_SystemView.md
  src/courses/tir_user_guide/11_VulnerabilityView.md
  src/courses/tir_user_guide/12_SystemStatusesAndSeveritiesWithOverrides.md
  src/courses/tir_user_guide/13_Exports.md
  src/courses/tir_user_guide/14_POA&MManagement.md
  src/courses/tir_user_guide/15_BackupAndRestore.md
  src/tir_admin_guide.md
  src/tir_user_guide.md
Labels: courses

start of theme upgrade (#95)
  package-lock.json
  package.json
  src/.vuepress/theme.ts
Labels: none

fixed sidebar headerDepth issue
  .vscode/settings.json
  package-lock.json
  src/.vuepress/config.ts
  src/.vuepress/theme.ts
  src/courses/tir_admin_guide/02_AccountPermissions.md
  src/courses/tir_admin_guide/03_Configuration.md
  src/courses/tir_admin_guide/README.md
  src/courses/tir_deployment_guide/02_DockerComposeDeployment.md
  src/courses/tir_deployment_guide/03_CertificateImportAndVerification.md
  src/courses/tir_deployment_guide/README.md
  src/courses/tir_user_guide/02_References.md
  src/courses/tir_user_guide/03_GettingStarted.md
  src/courses/tir_user_guide/05_CreatingYourWorkEnvironment.md
  src/courses/tir_user_guide/06_ImportingScanData.md
  src/courses/tir_user_guide/07_DeltaSTIGs.md
  src/courses/tir_user_guide/08_ChangingCompanyAndBoundaryPermissions.md
  src/courses/tir_user_guide/09_BoundaryView.md
  src/courses/tir_user_guide/10_SystemView.md
  src/courses/tir_user_guide/11_VulnerabilityView.md
  src/courses/tir_user_guide/12_SystemStatusesAndSeveritiesWithOverrides.md
  src/courses/tir_user_guide/13_Exports.md
  src/courses/tir_user_guide/14_POA&MManagement.md
  src/courses/tir_user_guide/15_BackupAndRestore.md
  src/courses/tir_user_guide/README.md
Labels: courses

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler
#
# ├── ./src/courses
# │   ├── ./courses/advanced
# │   ├── ./courses/beginner
# │   ├── ./courses/guidance
# │   └── ./courses/user

docs: docs/*
example: examples/**/*
repository: packages/repository/*

'user':
- changed-files:
  - any-glob-to-any-file: ['src/courses/user/**/*']

'beginner':
  - changed-files:
    - any-glob-to-any-file: ['src/courses/beginner/**/*']

'advanced':
  - changed-files:
    - any-glob-to-any-file: ['src/courses/advanced/**/*']

'guidance':
  - changed-files:
    - any-glob-to-any-file: ['src/courses/guidance/**/*']

'courses':
  - changed-files:
    - any-glob-to-any-file: ['src/courses/**/*']
